{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-organize-attributes"
  ],
  "organizeImportsSkipDestructiveCodeActions": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "bracketSpacing": true,
  "useTabs": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "objectWrap": "preserve",
  "singleAttributePerLine": true
}
