:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--tui-background-base-alt);
  block-size: auto;
  inline-size: unset;
}
